.success {
  color: green;
}

.failure {
  color: red;
}

.card {
  display: flex;
  flex-direction: column;
  border: #cccccc 1px solid;
  border-radius: 12px;
  overflow: hidden;
  margin: 12px;
  height: 100%;
  min-width: '256px';
  max-width: '512px';
}

.card_header {
  padding: 8px;
  text-align: center;
  background: #f5f5f5;
}

.card_footer {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ccc;
  border-style: none;
}

.card_content {
  padding: 4px;
  flex: 1;
}

.input_item {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
