packages/**/build/
lib/
dist/
example/
packages/**/dist/
packages/**/out/
packages/**/web-build/
submodules/
packages/**/coverage/
packages/hd-transport/scripts/protobuf-patches/
packages/connect-examples/electron-example/public/
packages/connect-examples/react-native-demo/
packages/connect-examples/native-android-example/
packages/connect-examples/native-ios-example/
packages/developer-portal/
