packages/**/build/
lib/
dist/
example/
packages/**/dist/
packages/**/out/
packages/**/web-build/
submodules/
packages/**/coverage/
packages/hd-transport/scripts/protobuf-patches/
packages/connect-examples/electron-example/public/
packages/connect-examples/react-native-demo/
packages/connect-examples/native-android-example/
packages/connect-examples/native-ios-example/
packages/connect-examples/developer-portal/
.claude/
packages/hwk-trezor-protobuf/
packages/hwk-trezor-protocol/
packages/hwk-trezor-schema-utils/
packages/hwk-trezor-transport/
packages/hwk-trezor-transport-common/
packages/hwk-trezor-transport-web/
packages/hwk-trezor-type-utils/
packages/hwk-trezor-utils/
