{
  "extends": [
    "wesbos/typescript"
  ],
  "env": {
    "jest": true
  },
  "plugins": ["jest"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 2
      }
    ],
    "no-plusplus": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variableLike",
        "format": ["camelCase", "PascalCase", "snake_case", "UPPER_CASE"],
        "leadingUnderscore": "allow",
        "trailingUnderscore": "allow"
      }
    ],
    // valid case of class method overloads in typescript
    "no-dupe-class-members": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    // webpack packages should put in devDependencies
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "import/no-cycle": "off"
  }
}
