node_modules
.yarn

.DS_Store

.idea
*.sublime-project
*.sublime-workspace
.vscode/**/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/*.code-snippets

logs
*.log
.yarnclean


.attic
.env*
!.env.dev

.cache/
.eslintcache
*.tsbuildinfo

# build outputs
lib
libDev
dist
coverage
build
.history
